{
  "extends": ["wesbos"],
  "plugins": ["simple-import-sort"],
  "rules": {
    "react/no-multi-comp": "off",
    "react/state-in-constructor": ["off"],
    "react/jsx-props-no-spreading": "off",
    "simple-import-sort/imports": "error",
    "simple-import-sort/exports": "error",
    "arrow-parens": ["error", "as-needed"],
    "jsx-a11y/label-has-associated-control": [
      "error",
      {
        "required": {
          "some": ["nesting", "id"]
        }
      }
    ],
    "jsx-a11y/label-has-for": [
      "error",
      {
        "required": {
          "some": ["nesting", "id"]
        }
      }
    ]
  }
}
