@import "../variables";

.duckDivider {
  margin-top: 2rem;
  margin-bottom: 1rem;
  text-align: center;
  svg {
    height: 2rem;
    width: 2rem;
    position: relative;
  }
  svg:before,
  svg:after {
    background-color: $main-teal;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 50%;
  }
  svg:before {
    right: 0.5em;
    margin-left: -50%;
  }
  svg:after {
    left: 0.5em;
    margin-right: -50%;
  }
  @media screen and (min-width: $medium-breakpoint) {
    display: none;
  }
}

.fancy {
  line-height: 1.5;
  margin-top: 2rem;
  margin-bottom: 1rem;
  text-align: center;
  @media screen and (min-width: $medium-breakpoint) {
    display: none;
  }
}
.fancy span {
  display: inline-block;
  position: relative;
}

.fancy svg {
  height: 2rem;
  width: 2rem;
}
.fancy span:before,
.fancy span:after {
  content: "";
  position: absolute;
  height: 7px;
  border-bottom: 1px solid $main-teal;
  border-top: 1px solid $main-teal;
  top: 40%;
  width: 80px;
}
.fancy span:before {
  right: 100%;
  margin-right: 15px;
}
.fancy span:after {
  left: 100%;
  margin-left: 15px;
}
