@import "../variables";

.seeAlso {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  max-width: 1300px;
  text-align: center;
  margin: 3rem auto;
  @media screen and (min-width: $large-breakpoint) {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  grid-gap: 1rem;
  @media screen and (max-width: $medium-breakpoint) {
    // grid-template-columns: 1fr;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    grid-gap: 0.5rem;
    margin: 2rem 0.5rem;
  }
}
