@import "../variables";

.threePicturesVertical {
  display: grid;

  @media screen and (min-width: $large-breakpoint) {
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 1rem;
  }

  img {
    height: 100%;
  }
}

.twoPicturesVertical {
  display: grid;

  @media screen and (min-width: $large-breakpoint) {
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
  }
}