.hero {
  height: calc(100vh - 80px);
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: flex-end;
  @media screen and (max-width: $medium-breakpoint) {
    height: calc(100vh - 70px);
  }
  /* padding: 1rem; */
}

.hero h1,
.hero h2 {
  color: white;
  text-shadow: 0 0 6px #000;
  font-size: 2.8rem;
  font-weight: 600;
  margin-bottom: 3rem;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .hero h1,
  .hero h2 {
    font-size: 1.7rem;
  }
}
