@mixin button-reset {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
  outline: none;
  &::-moz-focus-inner {
    border: none;
  }
}

.hotelTag {
  @include button-reset;
  font-size: 0.7rem;
  font-weight: bold;
  position: absolute;
  top: 15px;
  // left: 15px;
  right: 15px;
  margin-right: 20px;
  color: #44337a;
  // color: white;
  // background-color: desaturate(#f9f0ff, 50%);
  // background-color: #44337a;
  border: 2px solid #44337a;

  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;

  display: inline-flex;
  align-self: center;

  &:active {
    transform: translateY(1px);
    filter: saturate(150%);
  }

  &:hover,
  &:active {
    color: white;
    background-color: #44337a;
    transition: background-color 150ms linear;
  }
  svg {
    max-width: 1rem;
    max-height: 1rem;
    display: inline;
    margin-left: 8px;
    vertical-align: middle;
    color: inherit;
  }
}

.tooltip {
  position: absolute;
  padding: 0.7rem;
  top: 50px;
  right: 0;
  z-index: 3;
  font-size: 0.8rem;
  background-color: lighten(#f3f3f3, 2%);
  border-radius: 5px;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  // border: 2px solid #44337a;
}
