nav {
  height: 80px;
  position: sticky;
  top: 0;
  @media screen and (max-width: $medium-breakpoint) {
    height: 70px;
  }
  background-color: $body-background;
  z-index: 2;
}

.logo {
  margin-bottom: 0;
  width: 160px;
  @media screen and (max-width: $small-breakpoint) {
    width: 120px;
  }
}
