.m-t-5 {
  margin-top: 2rem;

  @media screen and (min-width: $small-breakpoint) {
    margin-top: 5rem;
    // margin-left: 2rem;
    // margin-right: 2rem;
  }
}

.p-t-5 {
  padding-top: 2rem;

  @media screen and (min-width: $small-breakpoint) {
    padding-top: 5rem;
    // margin-left: 2rem;
    // margin-right: 2rem;
  }
}

.p-t-3 {
  padding-top: 2rem;

  @media screen and (min-width: $small-breakpoint) {
    padding-top: 3rem;
    // margin-left: 2rem;
    // margin-right: 2rem;
  }
}

.m-t-5-desktop {
  @media screen and (min-width: $medium-breakpoint) {
    margin-top: 5rem;
  }
}

.m-t-3 {
  margin-top: 2rem;

  @media screen and (min-width: $small-breakpoint) {
    margin-top: 3rem;
  }
}

.m-t-1 {
  margin-top: 1rem;
}

.m-t-7 {
  margin-top: 2rem;

  @media screen and (min-width: $small-breakpoint) {
    margin-top: 7rem;
    // margin-left: 2rem;
    // margin-right: 2rem;
  }
}

.center-on-small {
  text-align: center;

  @media screen and (min-width: $small-breakpoint) {
    text-align: left;
  }
}

.side-margin-on-bigger {
  @media screen and (min-width: $small-breakpoint) {
    margin-left: 2rem;
    margin-right: 2rem;
  }
}

.text-center {
  text-align: center;
}

.super-text-center {
  text-align: center;
  margin: 0 auto;
}

.align-center {
  margin-left: auto;
  margin-right: auto;
}

.max-1600 {
  max-width: 1600px;
}

.max-800 {
  max-width: 800px;
}

.max-1300 {
  max-width: 1300px;
}

// .p-2 {
//   padding: 2rem;
// }

// .p-1 {
//   padding: 1rem;
// }

.p-l-r-1 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.darker-mobile {
  @media screen and (max-width: $small-breakpoint) {
    background-color: darken($body-background, 2%);
  }
}

.darker {
  background-color: darken($body-background, 3%);
}

.text-sm {
  font-size: 0.9rem;
}