// colors
$main-teal: #005e5d;
$body-background: white;
$hotel-violet: #0c005e;

// breakpoints
$small-breakpoint: "640px";
$medium-breakpoint: "768px";
$large-breakpoint: "1024px";
$xlarge-breakpoint: "1280px";
$hd-breakpoint: "1920px";
$superlarge-breakpoint: "2500px";
$hamburger-breakpoint: "768px";

// other
$global-radius: 6px;
$shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
